parameters:
  level: 8
  paths:
    - src
  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  treatPhpDocTypesAsCertain: false
  reportUnmatchedIgnoredErrors: true
